#root {
  max-width: 1280px;
  margin: 60px auto;
  padding: 1rem;
  text-align: center;
  background-color: green;
  width: 425px;
  color: white;
}

.titleList {
  font-size: 40px;
  text-decoration: underline;
  font-weight: bold;
  color: rgb(248, 248, 67)
}

.containerTask{
  display: flex;
}

